DISCORD_TOKEN=ton_token_discord
CLIENT_ID=ton_id_bot
FTP_HOST=iphost
FTP_USER=username
FTP_PASS=your_fdp_pass
FTP_PORT=21
FTP_DIR=/public_html/i # Custom
UPLOAD_DOMAIN=https://i.wolfyz.fr # example
LOG_CHANNEL_ID=id_channel
MAX_FILE_MB=50 # Mo